
#the-car{
	-fx-min-height: 100px;
	-fx-min-width: 140px;
	-fx-background-color: black;
}

.label{
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

#body{
	-fx-pref-width: 140px;
	-fx-pref-height: 40px;
	-fx-translate-y: 30px;
}

#top{
	-fx-pref-height: 30px;
	-fx-pref-width: 40px;
	-fx-translate-x: 20px;
	
	-fx-border-width: 4px;
	-fx-background-color: black;
	
}

#wheel {
	-fx-background-color: black;
	-fx-background-radius: 5px;
}